.chess-board { border-spacing: 0; border-collapse: collapse; width: 350px; height:350px;}
.chess-board th { padding: .5em; }
.chess-board th + th { border-bottom: 1px solid #000; }
.chess-board th:first-child,
.chess-board td:last-child { border-right: 1px solid #000; }
.chess-board tr:last-child td { border-bottom: 1px solid; }
.chess-board th:empty { border: none; }
.chess-board td { width: 1.5em; height: 1.5em; text-align: center; font-size: 32px; line-height: 0;}
.chess-board .light { background: #eee; }
.chess-board .dark { background: #aaa; }

.blockly-Area{
  width: 70%;
  margin-top:16px;
}
.show {
  visibility:visible;
}
.hide{
  visibility: hidden;
}
.heading-style{
  margin-top: 1px;
  background-color:#9933FF;
  color: #fff;
  border-color: #ba50fd;
  padding-top:16px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 0.3rem;
}
.runCode-btn{
  margin-left: 7px;
  margin-bottom: 6px;
}
.reload-btn{
  margin-left: 77.5%;
  margin-bottom: 6px;
}
.game-stimulation{
  margin-top: 68px;
  margin-right: 50px;
  float:right;
}
